
langchain
langchain-google-genai
langchain-community
langchain-core
google-generativeai


fastapi
uvicorn
pydantic
python-multipart
aiofiles


psycopg2-binary
sqlalchemy


selenium
beautifulsoup4
requests
undetected-chromedriver


pandas
numpy
openpyxl


python-dotenv
jinja2
python-jose
passlib
py-cpuinfo


psutil
loguru


pytest
pytest-asyncio
httpx


tailwindcss